extends ../../layout/layout.pug

block variable
    -var path = '../../';

block content
    // begin head
    section#head.head.section
        .head__img
            img(src="../../img/service.webp", alt="alt")
        .container_center
            .head__content
                .breadcrumbs
                    .aioseo-breadcrumbs
                        span.aioseo-breadcrumb
                            a(href="#") Home 

                        span.aioseo-breadcrumb-separator /

                        span.aioseo-breadcrumb pool and spa


                h1.section__title
                    span pool and spa


    // end head

    // begin introduction
    section#introduction.introduction.section
        .container_center
            .introduction__wrap
                .introduction__content
                    .introduction__label
                        span / Introduction
                    h2.section__title
                        span we make your dream po ol and spa a reality
                    .section__text
                        span At EHD Builders we make your dream pool and spa a reality! We understand that building a new pool or spa is a big investment, and that's why we are dedicated to providing you with the best construction services possible. Our skilled contractors are experienced in all aspects of pool and spa construction from obtaining plans and permits to excavation and concrete
                    .introduction__btn
                        a.btn(href="#")
                            span read more

                .introduction__gallery
                    .introduction__img.img
                        img(src="../../img/introduction_1.jpg", alt="alt")
                    .introduction__img.img
                        img(src="../../img/introduction_2.jpg", alt="alt")

    // end introduction

    // begin materials
    section#materials.materials.section
        .container_center
            h2.section__title
                span Materials We Work With

            .materials__wrap

                .tabs__wrapper
                    .tabs
                        each item in ['Smooth plaster finish', 'Shimmering pebble finish', 'Durable quartz finish', ]
                            .tab
                                span=item 
                    .tabs__content
                        each item in ['', '', '', ]
                            .tab__item
                                .materials__inner
                                    .materials__content
                                        .materials__title
                                            span Smooth plaster finish
                                        .section__text
                                            span This type of finish is typically made of a mixture of white Portland cement, marble dust, and water, and can be tinted to achieve a variety of colors. Smooth plaster finish is a popular option for new pool installations, as it provides a smooth and elegant surface that is comfortable to swim in.
                                        .materials__subtitle
                                            span Perks
                                        ul.materials__list.list
                                            each item in ['Smooth plaster finish is durable and easy to maintain, making it a popular choice for homeowners who want a pool that looks great and requires minimal upkeep.', 'Additionally, the smooth surface of the plaster finish can help prevent algae growth, which can be a common problem in swimming pools.', 'Overall, smooth plaster finish is an excellent choice for homeowners looking to create a beautiful and functional pool space.', ]
                                                li.section__text
                                                    i.icon_plus
                                                    span=item

                                    .materials__img.img
                                        img(src="../../img/materials.jpg", alt="alt")

    // end materials

    // begin runningLine
    .runningLine
        .runningLine__content
            .runningLine__list
                each item in ['', '', '', '', '', '', '', '', '', '', '' ]
                    .runningLine__item
                        span Featured Project
                        span.runningLine__sep / 
    // end runningLine

    // begin projects
    section#projects.projects.section

        .container_center.counter-wrap

            //- begin row
            .projects__row.counter-item
                .projects__preview
                    .projects__left
                        h2.section__title
                            span pool installation in west hilis


                        .projects__img.img.desktop
                            img(src="../../img/projects_1.jpg", alt="alt")

                    .projects__right
                        .projects__img.img
                            img(src="../../img/projects_2.jpg", alt="alt")

                        .projects__title
                            span Scope of Work
                            small.counter-el

                        .projects__text
                            span Backyard and pool remodeling ・ outdoors kitchen ・ fire pit ・ interlocking pavers and synthetic turf installation.
            //- end row


            //- begin row
            .projects__row.counter-item
                .projects__grid
                    .projects__title
                        span Materials used  
                        small.counter-el

                    .projects__list
                        each item in [{img: '3', label: 'Angelus pavers in adobe copper mocha color'}, {img: '4', label: 'Pool finished with mini pebble'}, {img: '5', label: 'Pour-in-place coping, custom spillway'}, {img: '6', label: 'Kitchen - granite countertops'}, {img: '7', label: 'Fire pit - stone veneer with Bellecrete cap'}]
                            .projects__item
                                .projects__img.img
                                    img(src="../../img/projects_"+item.img+".jpg", alt="alt")
                                .projects__label
                                    span=item.label
            //- end row


            //- begin row
            .projects__row.counter-item
                .projects__about
                    .projects__left
                        .projects__title
                            span Work process
                            small.counter-el

                        .projects__text
                            span After securing the necessary permits we broke ground with demolition, followed by underground plumbing and electrical work we then formed and poured coping, installed all the pavers, turf and built the fire pit, seating area and outdoor kitchen.

                        .projects__img.img
                            img(src="../../img/projects_8.jpg", alt="alt")

                    .projects__right.desktop
                        .projects__img.img
                            img(src="../../img/projects_9.jpg", alt="alt")

            //- end row


            //- begin row
            .projects__row.counter-item
                .projects__slider

                    .projects__title
                        span project Gallery
                        small.counter-el

                    .swiper.swiper_projects_js
                        .swiper-wrapper
                            each item in [11,10,11,10,11,10]
                                .swiper-slide
                                    a.projects__slide(href="#")
                                        .projects__img.img
                                            img(src="../../img/projects_"+item+".jpg", alt="alt")
                                            .projects__category
                                                span category
                                        .projects__location
                                            span location
                                        .projects__text
                                            span Smooth plaster finish is durable and easy to maintain, making it a popular choice for homeowners who want a pool that looks great and requires minimal upkeep.

                    .swiper__arrows.desktop
                        i.icon_arrow_left
                        i.icon_arrow_right

                    .swiper__dotted.projects_dotted_js.mobile


                .projects__btn
                    a.btn(href="#")
                        span View More Projects

            //- end row


    // end projects

    // begin process
    section#process.process.section
        .container_center
            h2.section__title
                span Our Process
            .section__text
                span It's worth noting that the exact steps may vary depending on the specific type of pool and the location of the installation. A professional pool installation company can guide you through the process and ensure that your new pool is built to your satisfaction.

            .process__grid
                each item in [ {img: '1', title: 'Design consultation', text: 'The first step is to consult with a pool design professional to discuss your preferences, budget, and space requirements. They will help you determine the size, shape, and features of your new pool'}, {img: '2', title: 'Permits and approvals', text: 'Before construction can begin, the necessary permits and approvals must be obtained from local authorities. This includes zoning, building, and safety permits.'}, {img: '3', title: 'Excavation', text: 'Once the permits are obtained, excavation can begin. This involves digging a hole in the ground to the size and shape of the poo'}, {img: '4', title: 'Concrete / vinyl liner installation', text: 'Depending on the type of pool you choose, either a concrete or vinyl liner is installed to cover the framing and create the pools surface'}, {img: '5', title: 'Electrical installation', text: 'The next step is to install the electrical systems for the pool, such as lighting and control systems'}, {img: '6', title: 'Framing and plumbing', text: 'After the excavation is complete, the pools framing and plumbing systems are installed. This includes the pool shell, plumbing lines, and equipment such as pumps, filters, and heaters'}, {img: '7', title: 'Deck and landscaping', text: 'Once the pool shell is complete, the surrounding area is finished with decking and landscaping. This can include patios, walkways, and plants.'}, {img: '8', title: 'Fill and start-up', text: 'Finally, the pool is filled with water and the equipment is started up. Chemical sare added to balance the water chemistry, and the pool is ready for use!'}, ]

                    .process__item
                        .process__img.img
                            img(src="../../img/process_"+item.img+".svg", alt="alt")

                        .process__title
                            span=item.title
                        .section__text
                            span=item.text

    // end process

    // begin services
    section#services.services.section
        .container_center
            .services__caption
                h2.section__title
                    span Additional Services
                .swiper__arrows.swiper__arrows_reverse.desktop
                    i.icon_arrow_left
                    i.icon_arrow_right
            .services__slider
                .swiper.swiper_services_js
                    .swiper-wrapper
                        each item in [ {title: 'Lighting options', text: 'Some popular options for pool lighting include LED lighting, fiber optic lighting, and solar lighting. LED lighting is energy-efficient and long-lasting, offering a range of colors and customization options. Fiber optic lighting creates a stunning and unique visual effect, with small fiber optic strands that transmit light throughout the pool area. Solar lighting is an eco-friendly option, powered by the sun and easy to install.', img: '1'}, {title: 'Pool fencing', text: 'Pool fencing can be made from a variety of materials, including aluminum, vinyl, and glass. Each material has its own advantages and can be customized to fit the specific needs of the homeowner. Pool fencing not only provides safety but also adds an aesthetic appeal to the pool area, creating a clean and elegant look.  Some pool fencing options come with locking mechanisms, further enhancing the safety and security of the pool area.', img: '2'}, {title: 'Pool decking', text: 'The deck serves as a functional area for swimmers to lounge, sunbathe, and enter and exit the pool. Pool decking can be made from a variety of materials, including concrete, wood, and stone. Each material has its own advantages, with concrete being a durable and low-maintenance option, wood offering a warm and natural feel, and stone providing a luxurious and high-end look. Pool decking can also be customized to fit the specific needs of the homeowner, with options such as slip-resistant surfaces, built-in seating, and customized lighting.', img: '3'}, {title: 'Lighting options', text: 'Some popular options for pool lighting include LED lighting, fiber optic lighting, and solar lighting. LED lighting is energy-efficient and long-lasting, offering a range of colors and customization options. Fiber optic lighting creates a stunning and unique visual effect, with small fiber optic strands that transmit light throughout the pool area. Solar lighting is an eco-friendly option, powered by the sun and easy to install.', img: '1'}, {title: 'Pool fencing', text: 'Pool fencing can be made from a variety of materials, including aluminum, vinyl, and glass. Each material has its own advantages and can be customized to fit the specific needs of the homeowner. Pool fencing not only provides safety but also adds an aesthetic appeal to the pool area, creating a clean and elegant look.  Some pool fencing options come with locking mechanisms, further enhancing the safety and security of the pool area.', img: '2'}, {title: 'Pool decking', text: 'The deck serves as a functional area for swimmers to lounge, sunbathe, and enter and exit the pool. Pool decking can be made from a variety of materials, including concrete, wood, and stone. Each material has its own advantages, with concrete being a durable and low-maintenance option, wood offering a warm and natural feel, and stone providing a luxurious and high-end look. Pool decking can also be customized to fit the specific needs of the homeowner, with options such as slip-resistant surfaces, built-in seating, and customized lighting.', img: '3'}, ]
                            .swiper-slide
                                a.services__slide(href="#")
                                    .services__content
                                        .services__title
                                            span=item.title
                                        .section__text
                                            span=item.text

                                    .services__img.img
                                        img(src="../../img/services_"+item.img+".jpg", alt="alt")

                .swiper__dotted.swiper__dotted_reverse.services_dotted_js.mobile

            .services__btn
                a.btn(href="#")
                    span Knowledge Base

    // end services

    // begin reconstruction
    section#reconstruction.reconstruction.section
        .container_center
            h2.section__title
                span Our New Po and Spa Services
            .section__text
                span At EHD Builders, we are proud to serve clients throughout the San Fernando Valley, providing high-quality exterior remodeling services that enhance the beauty, functionality, and value of their homes.
            .reconstruction__list
                each item in [ {img: '1', title: 'Calabasas'}, {img: '2', title: 'Encino'}, {img: '3', title: 'Sherman Oaks'}, {img: '4', title: 'Woodland Hills'}, {img: '5', title: 'villa barra'}, {img: '6', title: 'West hills'} ]
                    a(href="#").reconstruction__item
                        .reconstruction__img.img
                            img(src="../../img/reconstruction_"+item.img+".jpg", alt="alt")
                        .reconstruction__title
                            span=item.title

    // end reconstruction

    // begin faq
    section#faq.faq.section
        .faq__img.img.desktop
            img(src="../../img/faq.webp", alt="alt")
        .container_center
            h2.section__title
                span Faq
            .faq__content
                .collapse(data-collapse-wrapper="")
                    .collapse__title.open(data-collapse="") 
                        span HOW SOON CAN YOU SCHEDULE A CONSULTATION?
                    // Добавить класс open для открытого состояния
                    .collapse__body.open(data-collapse-body="")
                        span Call us today and you can set up a free consultation with one of our general contractors for as soon as this after noon.

                each item in ['I ALREADY HAVE A QUOTE, CAN YOU BEAT IT?', 'ALL I HAVE IS AN OUTDATED BATHROOM, AND NO DESIGN IDEAS, CAN YOU HELP?', 'DO YOU OFFER ANY PROMOS RIGHT NOW?']
                    .collapse(data-collapse-wrapper="")
                        .collapse__title(data-collapse="") 
                            span=item

                        .collapse__body(data-collapse-body="")
                            span Call us today and you can set up a free consultation with one of our general contractors for as soon as this after noon.





    // end faq
